
.welcome {
  background-color: #e0e0e0;
  margin: 10px 0 10px 0;
  font-family: sans-serif;
}

.viewer-container {
  background-color: #ffffff;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: #e0e0e0;
}

.viewer-header-container {
  background-color: #cccccc;
}

.viewer-row {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}

.viewer-header-row {
  margin: 0;
}

.viewer-header-row-scale {
  width: 50px;
}

.viewer-data-container {
}

.viewer-data-row {
  background-color: #ffffff;
  display: flex;
  justify-content: left;
  align-items: center;
}

.viewer-row-entry {
  height: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.viewer-row-label {
  min-width: 180px;
  width: 180px;
  padding: 0 5px 0 5px;
  justify-content: flex-end;
  border-style: solid;
  border-width: 0 2px 0 0;
  border-color: #e0e0e0;
}

.viewer-data-row-span-container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-grow: 1;
}

.viewer-data-row-duration {
  min-width: 1px;
  background-color: #ccffcc;
  border-style: solid;
  border-width: 2px 0 2px 0;
  border-color: #ffffff;
  color: #707070;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
